.post{
  display: flex;
  align-items: center;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.post-content{
  display: flex;
  flex-direction: column;

}

.post-content h2{
  text-align: center;
  padding: 2rem;
}

.post-content p{
  width: 80%;
  padding: 1rem;
}

.date{
  text-align: center;
  color: #f5f5f5;
}

h1{
  align-self: flex-start;
}

@media screen and (max-width: 1000px){
  .post{
    flex-direction: column;
  }
}